/*** Spinner Start ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .8s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .8s ease-out, visibility 0s linear .0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}

/*** Spinner End ***/


/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: .5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn.border-secondary {
  transition: 0.5s;
}

.btn.border-secondary:hover {
  background: var(--bs-secondary) !important;
  color: var(--bs-white) !important;
}

/*** Topbar Start ***/
.fixed-top {
  transition: 0.5s;
  border: 0;
}

.topbar {
  padding: 20px;
}

.topbar .top-info {
  font-size: 15px;
  line-height: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.topbar .top-link {
  font-size: 15px;
  line-height: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.topbar .top-link a {
  letter-spacing: 1px;
}

.topbar .top-link a small:hover {
  color: var(--bs-secondary) !important;
  transition: 0.5s;
}

.topbar .top-link a small:hover i {
  color: var(--bs-primary) !important;
}

/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  transition: .5s;
}

.navbar {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  background: transparent;
}

@media (max-width: 992px) {
  .navbar {
    height: 125px;
    margin-top: -20px;
  }

  .topbar {
    display: none;
  }
}

.main-logo {
  height: auto;
  width: 120px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    transition: .5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-secondary);
  color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  border-radius: 10px !important;
  transition: .5s;
  opacity: 1;
}

#searchModal .modal-content {
  background: rgba(255, 255, 255, .8);
}

/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/hero-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  position: relative;
}

.carousel-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid var(--bs-white);
  background: var(--bs-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-next {
  margin-right: 20px;
}

.carousel-control-prev {
  margin-left: 20px;
}

.page-header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/sample-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {

  .hero-header,
  .page-header {
    padding-top: 152px !important;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {

  .navbar .navbar-brand,
  .navbar .navbar-toggler {
    margin-top: -25px;
  }

  .navbar-collapse {
    background: #ffffff;
    margin-top: -25px;
  }

}

@media (max-width: 992px) {

  .hero-header,
  .page-header {
    padding-top: 152px !important;
  }

  .navbar .d-flex,
  .navbar-nav {
    background: #ffffff;
  }

  .navbar-nav,
  #navbarCollapse .d-flex {
    top: -25px;
    position: relative;
  }
}

@media (max-width: 580px) {
  .navbar-toggler {
    margin-right: 25px;
  }
}

/*** Hero Header end ***/


/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
  position: relative;
  width: 120px;
  height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background: var(--bs-secondary);
  position: absolute;
  bottom: -10px;
  transform: translate(-50%);
  transform: rotate(45deg);
  background: var(--bs-secondary);

}

/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
  position: relative;
  width: 250px;
  height: 130px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*** service End ***/


/*** Shop Start ***/
#btn-search:hover {
  background-color: hsl(210, 10%, 83%);
}

.fruite .tab-class .nav-item a.active {
  background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
  color: var(--bs-white) !important;
}

.fruite .fruite-categorie .fruite-name {
  line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
  transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
  color: var(--bs-secondary);
}

.fruite .item {
  height: 100%;
  transition: 0.5s;
}

.fruite .item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .item .fruite-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.fruite .item .fruite-img img {
  transition: 0.5s;
}

.fruite .item .fruite-img img:hover {
  transform: scale(1.3);
}

/*** Fruits End ***/


/*** vesitable Start ***/
.vesitable .vesitable-item {
  height: 100%;
  transition: 0.5s;
}

.vesitable .vesitable-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
  transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
  transform: scale(1.2);
}

.vesitable .owl-stage {
  margin: 50px 0;
  position: relative;
}

.vesitable .owl-nav .owl-prev {
  position: absolute;
  top: -8px;
  right: 88px;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;

}

.vesitable .owl-nav .owl-prev:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
  position: absolute;
  top: -8px;
  right: 0;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

/*** vesitable End ***/


/*** Banner Section Start ***/
.banner .banner-btn:hover {
  background: var(--bs-primary);
}

/*** Banner Section End ***/


/*** Facts Start ***/
.counter {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
  font-size: 60px;
  margin-bottom: 25px;
}

.counter h4 {
  color: var(--bs-primary);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.counter h1 {
  margin-bottom: 0;
}

/*** Facts End ***/


/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
  position: absolute;
  top: -58px;
  right: 88px !important;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
  position: absolute;
  top: -58px;
  right: 0 !important;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

/*** testimonial End ***/


/*** Single Page Start ***/
.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--bs-dark);
  padding: 10px 16px;
  text-decoration: none;
  transition: 0.5s;
  border: 1px solid var(--bs-secondary);
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--bs-primary);
  color: var(--bs-light);
  border: 1px solid var(--bs-secondary);
}

.pagination a:hover:not(.active) {
  background-color: var(--bs-primary)
}

.nav.nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--bs-secondary) !important;
}

/*** Single Page End ***/


/*** Footer Start ***/
.footer .footer-item .btn-link {
  line-height: 35px;
  color: rgba(255, 255, 255, .5);
  transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
  color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
  line-height: 35px;
}

/*** Footer End ***/

/* Login Page Start*/

.login-right {
  background: url(../attempt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Login Page End */

/* Our Story Start */

.bg-gradient-primary-to-secondary {
  background: #1e30f3;
  background: linear-gradient(135deg, var(--bs-primary) 0%, var(--bs-secondary) 100%);
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rounded-4 {
  border-radius: 1rem !important;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.profile {
  position: relative;
  height: 75vw;
  width: 75vw;
  border-radius: 5vw;
  margin-top: 5vw;
  max-height: 40rem;
  max-width: 40rem;
}

.profile .profile-img {
  height: auto !important;
  width: 100%;
  position: absolute;
  bottom: .75px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4.25rem;
}

.profile .dots-1 {
  position: absolute;
  width: 3vw;
  right: 1.5vw;
  top: 4vw;
}

.profile .dots-1 svg {
  fill: #fff;
}

.profile .dots-2 {
  position: absolute;
  width: 3vw;
  right: -4vw;
  top: 6.05vw;
}

.profile .dots-2 svg {
  fill: var(--bs-primary);
}

.profile .dots-3 {
  position: absolute;
  width: 3vw;
  left: 1.5vw;
  bottom: 6.05vw;
}

.profile .dots-3 svg {
  fill: #fff;
}

.profile .dots-4 {
  position: absolute;
  width: 3vw;
  left: -4vw;
  bottom: 4vw;
}

.profile .dots-4 svg {
  fill: var(--bs-secondary);
}

@media (min-width: 0px) and (max-width:576px) {
  .profile .profile-img {
    border-radius: 1rem !important;
    bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .profile {
    height: 60vw;
    width: 60vw;
  }

  .profile .profile-img {
    border-radius: 1rem !important;
    bottom: 0;
  }

  .profile .dots-1 {
    width: 3vw;
    right: 1.5vw;
  }

  .profile .dots-2 {
    width: 3vw;
    right: -4vw;
  }

  .profile .dots-3 {
    width: 3vw;
    left: 1.5vw;
  }

  .profile .dots-4 {
    width: 3vw;
    left: -4vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .profile {
    height: 50vw;
    width: 50vw;
  }

  .profile .profile-img {
    border-radius: 3rem;
    bottom: 0;
  }

  .profile .dots-1 {
    width: 3vw;
    right: 1.5vw;
  }

  .profile .dots-2 {
    width: 3vw;
    right: -4vw;
  }

  .profile .dots-3 {
    width: 3vw;
    left: 1.5vw;
  }

  .profile .dots-4 {
    width: 3vw;
    left: -4vw;
  }
}

@media (min-width: 992px) {
  .profile {
    height: 40vw;
    width: 40vw;
  }

  .profile .dots-1 {
    width: 1.5vw;
    right: 0.75vw;
  }

  .profile .dots-2 {
    width: 1.5vw;
    right: -2vw;
  }

  .profile .dots-3 {
    width: 1.5vw;
    left: 0.75vw;
  }

  .profile .dots-4 {
    width: 1.5vw;
    left: -2vw;
  }
}

@media (min-width: 1200px) {
  .profile {
    height: 35vw;
    width: 35vw;
  }

  .profile .dots-1 {
    width: 1.5vw;
    right: 0.75vw;
  }

  .profile .dots-2 {
    width: 1.5vw;
    right: -2vw;
  }

  .profile .dots-3 {
    width: 1.5vw;
    left: 0.75vw;
  }

  .profile .dots-4 {
    width: 1.5vw;
    left: -2vw;
  }
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline>li:after,
.timeline>li:before {
  display: table;
  content: " ";
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}

.timeline>li .timeline-image h4,
.timeline>li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline>li {
    min-height: 100px;
    /* margin-bottom: 100px; */
  }

  .timeline>li:last-child {
    margin-bottom: 100px;
  }

  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline>li .timeline-image h4,
  .timeline>li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline>li {
    min-height: 150px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  .timeline>li .timeline-image h4,
  .timeline>li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline>li {
    min-height: 170px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px;
  }

  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }

  .timeline>li .timeline-image h4,
  .timeline>li .timeline-image .h4 {
    margin-top: 40px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* Our Story End */